# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Notebooks
.ipynb_checkpoints/

# Environment
venv/
.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db

# Reports
*.pdf
*.docx

# Data (optional: keep if dataset is private)
data/
